$monokai-magenta: #f92672;
$monokai-clementine: #fd971f;
$monokai-theresia: #e6db74;
$monokai-chartreuse: #a6e22e;
$monokai-cyan: #66d9ef;
$monokai-lavender: #ae81ff;
$monokai-light: #f8f8f2;
$monokai-silver: #75715e;
$monokai-night: #272822;
